/*Sets the height of the page to always be 100% and the color of the background to be light gray */
body {
	height: 100%;
	background-color: lightgrey;
}
/*Adds a margin and sets text color to white for the link in the navbar */
#nav a{
	color:white;
	margin-left:1rem;
	margin-right:1rem;
}
/* Sets the background color of the navbar to be grey*/
#nav{
	background-color: grey !important;
}

#CountdownClock{
	background-color: green;
	width:100%;
	margin-left: auto;
	margin-right:auto;
	height:10rem;
 	text-align: center;
}
#pageContent{
	min-height: 50%;
	min-height: 50vh;
	display:flex;
	align-items:center;
	justify-content: center;
}
#details{
	background-color: blue;
	color:white;
}
#MainDiv{
	background-color: purple;
	margin-bottom:5rem;
	border-radius: 2%;
}
#SpeakersImage{
	background-color: green;
}
/* This makes it so that the footer is in a fixed position at the bottom of the page.  */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  line-height: 40px;
  color: white;
  text-align: center;
  justify-items: center;
  height: 7.5%;
}
/* Adds a small margin to each div inside the main div */
#MainDiv div{
	margin:2%;
}
/*Makes the text color black in each span inside the main div */
#MainDiv span{
	color:black;
}
/*Makes the background color white and adds a small padding the all of the columns */
.column{
	background-color:white;
	padding:2%;
	min-width: 200px;
	border-radius: 4%;
}
#row1{
	width:70%;
}
